img {
  max-width: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.page {
  width: 100%;
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #ffffff;
}

.wrapper {
  display: none;
  width: 100%;
  height: 200vh;
  background-color: rgba(41, 65, 89, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.wrapper--active {
  display: block;
}
