.popup {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 79px;
  transform: translateX(-50%);
  width: 720px;
  height: 611px;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.32), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  z-index: 3;
}

.popup--active {
  display: flex;
}